<div class="container d-flex flex-column">
    <div class="header mb-4">
      <h3>{{ title }}</h3>
      <p>{{ subtitle }}</p>
    </div>
    <div class="workspace-details d-flex p-0 col-xs-12 col-md-12">
      <div class="info col-md-4 p-0">
        <h5 class="mb-4">Informações</h5>
        <form class="form-group col-md-10 p-0">
            <p class="description">Data de inicio: <input class="form-control p-0 pt-2" type="date"></p>
            <p class="description">Diárias: <input class="form-control p-0 pt-2" type="number"></p>
            <p class="description">Itens inclusos: <input class="form-control p-0 pt-2" type="number"></p>
            <div class="substituir d-flex">
              <div class="col-md-6 p-0 pr-2">
                <p class="description">Substituir: <input class="form-control p-0 pt-2" type="number"></p>
              </div>
              <div class="col-md-6 p-0">
                <p class="description">Por: <input class="form-control p-0 pt-2" type="number"></p>
              </div>
            </div>
            <p class="description">Stop loss: <input class="form-control p-0 pt-2" type="number"></p>
            <p class="description">convênio: <input class="form-control p-0 pt-2" type="string"></p>
          </form>
        <button class="btn btn-secondary col-md-10 mb-2" >Calcular</button>
      </div>
      <div class="chart col-md-8 p-0">
        <h5 class="mb-4">Features</h5>
        <div class="col-xs-12 p-0 d-flex">
          <div class="col-md-6 p-0">
              <div class="feature">
                  <input class="mr-2" type="checkbox" name="check" checked id="check">
                  <label for="checkbox">Atendimento oncológico</label>
                </div>
                <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Dieta enteral</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Dieta enteral ou parental</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Dieta parental</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Insulina</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Material caro</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Medicamento oncológico</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Medicamento paciente crítico</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Ventilação mecânica</label>
                  </div>
          </div>
          <div class="col-md-6 p-0">
              <div class="feature">
                  <input class="mr-2" type="checkbox" name="check" checked id="check">
                  <label for="checkbox">Medicamento sedativo</label>
                </div>
                <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Medicamento vasoativo</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">paciente crônico</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Paciente crônico pós UTI</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Paciente não crônico</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Primeiro dia UTI</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Residente</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">Teste de glicose</label>
                  </div>
                  <div class="feature">
                    <input class="mr-2" type="checkbox" name="check" checked id="check">
                    <label for="checkbox">UTI</label>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 d-flex flex-column">
    <div class="header mb-4">
      <h3>Visualizar árvore</h3>
      <p>Altere os itens acima para atualizar a árvore</p>
    </div>
    <div class="chart col-xs-12">
      <div>
        <img src="../../assets/8_dt.png" style="width: 100%;">
      </div>
    </div>
  </div>
  <div class="container mt-5 d-flex flex-column">
    <div class="header mb-4">
      <h3>Histograma</h3>
      <p>Altere os itens acima para atualizar o histograma</p>
    </div>
    <div class="chart col-xs-12">
      <div>
        <img src="../../assets/8_hs.png" style="width: 100%;">
      </div>
    </div>
  </div>
<div class="button-area col-xs-12 col-md-12 p-0 d-flex flex-column align-items-center">
  <button routerLink="/workspace-bradesco" style="border-radius: .8rem .8rem 0 0" class="btn btn-secondary mt-4 col-xs-12 col-md-4">Voltar ao workspace  <fa class="ml-2" name="chevron-left" size="1x"></fa></button>
</div>