<div class="container d-flex flex-column">
    <div class="header mb-4">
      <h3>{{ title }}</h3>
      <p><span class="badge badge-secondary mr-1">00</span>{{ subtitle }}</p>
    </div>
    <div class="workspace-details d-flex p-0 col-xs-12 col-md-12">
      <div class="info col-md-4 p-0">
        <h5 class="mb-4">Regras</h5>
        <button class="btn btn-secondary col-md-10 mb-2" routerLink="/new-rule" >Adicionar regra</button>
      </div>
      <div class="chart col-md-8 p-0">
        <h5 class="mb-4">Exibição gráfica</h5>
        <div class="card col-xs-12">
  
        </div>
      </div>
    </div>
  </div>